*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/*navigasjon*/
.navigasjon {
  overflow: hidden;
  background-color: #333;
}

.navigasjon a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navigasjon a:hover {
  background-color:white;
  color: black;
}

.navigasjon a.active {
  background-color: lightcoral;
  color: white;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

.btn {
  display: inline block;
  text-decoration: none;
  text-transform: uppercase;
  color: #f1faee;
  background-color: #e63946;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.9;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

.hero {
  padding: 100px;
  background-color: #457b9d;
  color: #f1faee;
}

.hero__text {
  width: 62%;
}

.hero__img {
  width: 32%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.three-col {
  padding: 3em 0;
  text-align: center;
}

.three-col h2 {
  color: #1d3557;
}

.two-col h2 {
  text-align: center;
}

.two-col {
  text-align: center;
  padding: 3em 0;
  background-color: #1d3557;
  color: #f1faee;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 8vh;
  background-color: #1d3557;
  font-family: "Poppins", sans-serif;
  width: 100%;
  position: sticky;
  z-index: 1;
}

.logo {
  color: #f1faee;
  text-transform: initial;
  letter-spacing: 1.5px;
  font-size: 20px;
}

.logo span {
  color: #e63946;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #f1faee;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: #e63946;
}
