*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*navigasjon*/
.navigasjon {
  overflow: hidden;
  background-color: #333;
}

.navigasjon a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navigasjon a:hover {
  background-color:white;
  color: black;
}

.navigasjon a.active {
  background-color: lightcoral;
  color: white;
}

img {
  width: 100%;
}

.wrapper{
  display: flex;
  border: solid red;
}

.text-container{
  width: 75%;
  
}

.kult-bilde{
  width: 25%;
  height: auto;
  border: solid;
}

/*footer på alle sider*/
footer{
  text-align: center;
  height: min-content;
  border-top: solid 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 2%;
}